/* Declare here the classes used for the header */
.test {
}

.header {
  border-bottom: 1px solid var(--header-border-color);
  background-color: var(--header-background-color);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1366px;
  padding: 16px;
  margin: 0 auto;
}

.leftContainer {
  display: flex;
}

.logo {
  width: 56px !important;
  color: var(--header-logo-color);
}

.rightContainer {
  display: flex;
}

.mail {
  color: var(--header-email-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  margin-right: 16px;
}

.facebookLink {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  width: 50px;
  height: 50px;
}

.facebookLink:hover {
  background-color: #bdff00;
}

.googleLink {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  width: 50px;
  height: 50px;
  margin-left: 8px;
}

.googleLink:hover {
  background-color: #bdff00;
}

.whatsappLink {
  background-color: var(--header-whatsapp-background-color);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  margin-left: 8px;
}

.whatsappLink svg {
  color: var(--header-whatsapp-icon-color);
}

.whatsappLink:hover {
  background-color: #bdff00;
}

.whatsappLink:hover svg {
  color: #000;
}

.phoneLink {
  display: flex;
  align-items: center;
  padding: 0 16px;
  background-color: #bdff00;
  height: 50px;
  margin-left: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.phoneLink:hover {
  background-color: #000000;
  color: #fff;
}

.phoneLink span:nth-child(1) {
  display: none;
}

.phoneLink span:nth-child(1) svg {
  width: 24px !important;
  height: 24px !important;
  margin-right: 12px;
}

@media all and (min-width: 426px) {
  .logo {
    width: 83px !important;
  }

  .phoneLink {
    padding: 0 24px;
  }
}

@media all and (min-width: 769px) {
  .phoneLink span:nth-child(1) {
    display: flex;
    align-items: center;
  }

  .phoneLink span:nth-child(2) {
    display: none;
  }

  .phoneLink {
    margin-left: 24px;
  }
}

@media all and (max-width: 768px) {
  .mail {
    display: none;
  }
}

@media all and (min-width: 1025px) {
  .container {
    padding: 16px 40px;
  }
}
