.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
  padding: 64px 0 64px 0;
}

.socialMediaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebookIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--color-white);
  background-color: var(--color-black);
  margin: 0 5px;
}

.facebookIcon:hover {
  background-color: var(--color-green);
}

.googleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--color-white);
  background-color: var(--color-black);
  margin: 0 5px;
}

.googleIcon:hover {
  background-color: var(--color-green);
}

.footerParagraph {
  padding-top: 30px;
}

.footerParagraph p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans";
  margin: 0 auto;
}

@media all and (prefers-color-scheme: dark) {
  .facebookIcon {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  .googleIcon {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  .footerParagraph p {
    color: var(--color-white);
  }
}
